@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap');

html {
    font-family: 'Roboto';
    color: white;
}

body {
    text-align: center;
    background: #1F1F1F url("img/bg.png") fixed;
    margin-top: 50px;
}

.card {
    width: 640px;
    margin: 20px auto;
    background: #25232A;
    border-radius: 10px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.content {
    display: flex;
    justify-content: space-evenly;
}

#xbutton {
    padding: 100px;
    border-radius: 100%;
    background-color: #007F96;
    color: white;
    border-color: #FFFFFF;
}

#xbutton:hover {
    cursor: pointer;
}